In [95]:
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoAlertPresentException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.keys import Keys

import pandas as pd

from pymongo import MongoClient
import pandas as pd

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

import time
import pprint

import datetime

In [2]:
webdriver = "/Users/kathrynjohnson/Downloads/chromedriver"

driver = Chrome(webdriver)

login_url = "https://myaccount.nytimes.com/auth/login"

driver.get(login_url)

html_source = driver.page_source

In [3]:
request_url = 'https://www.nytimes.com/crosswords'

driver.get(request_url)

html_source = driver.page_source

In [ ]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

puzzle_dict2019 = {}
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 2)

for single_date in daterange(start_date, end_date):
    url = "https://www.nytimes.com/crosswords/game/daily/" + single_date.strftime("%Y/%m/%d") + "/"
    driver.get(url)
    time.sleep(10)
    clue_element = driver.find_elements_by_class_name("Clue-text--3lZl7")
    clue = [x.text for x in clue_element]
    day_element = driver.find_elements_by_class_name('PuzzleDetails-date--1HNzj')
    for x in day_element:
        date_info = x.text
        date_split = date_info.split(' ')
        day_of_week = date_split[0]
    author_element = driver.find_elements_by_class_name("PuzzleDetails-byline--16J5w")
    for x in author_element:
        if x.text[0] is 'T':
            byline = x.text[16:]
            byline_split = byline.split('Edited')
            author = byline_split[0]
        elif x.text[0] is '"':
            byline = x.text.replace('"', ' ')
            byline2 = byline.replace('Edited ', ' ')
            byline3 = byline2.replace('by', 'By')
            byline_split = byline3.split('By ')
            author = byline_split[1]
    timer_element = driver.find_elements_by_class_name('timer-count')
    timer = [x.text for x in timer_element]
    puzzle_dict2019[single_date.strftime("%Y-%m-%d")] = (timer[0], day_of_week, author, clue)
    time.sleep(10)

In [26]:
df2016 = pd.DataFrame.from_dict(puzzle_dict2016, orient='index', columns=['solve_time', 'author', 'clues'])

In [27]:
df2016

,solve_time,author,clues
2016-01-01,[10:14],DAVID STEINBERG,"[Prominent feature of dubstep music, Try to av..."
2016-01-02,[11:17],DAVID PHILLIPS,"[Surf stuff, Dangerous fall, One with a pouch,..."
2016-01-03,[22:40],DAVID WOOLF,"[Malicious computer programs, Essence, Chippen..."
2016-01-04,[9:25],HERRE SCHOUWERWOU,"[Small jump, Burrito alternative, Lion's sound..."
2016-01-05,[10:46],JIM HOLLAND,"[Marital ___, Food thickener, Mineral spring, ..."
...,...,...,...
2016-12-27,[7:57],HERRE SCHOUWERWOU,"[Tease good-naturedly, Knock down a notch, Old..."
2016-12-28,[13:21],BRENDAN EMMETT QUIGLEY,"[Some pears, Joyous wedding dance, Lethal inje..."
2016-12-29,[16:20],KEVAN CHOSET,"[Many a SpaceX worker: Abbr., Small drum, Year..."
2016-12-30,[25:53],PATRICK BERRY,"[It's soft and sweet, Turpentine source, Possi..."
2016-12-31,[23:50],JEFF CHEN,"[Join, as two pieces of metal by application o..."

In [81]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

puzzle_dict2019 = {}
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 2)

for single_date in daterange(start_date, end_date):
    url = "https://www.nytimes.com/crosswords/game/daily/" + single_date.strftime("%Y/%m/%d") + "/"
    driver.get(url)
    time.sleep(10)
    clue_element = driver.find_elements_by_class_name("Clue-text--3lZl7")
    clue = [x.text for x in clue_element]
    day_element = driver.find_elements_by_class_name('PuzzleDetails-date--1HNzj')
    for x in day_element:
        date_info = x.text
        date_split = date_info.split(' ')
        day_of_week = date_split[0]
    author_element = driver.find_elements_by_class_name("PuzzleDetails-byline--16J5w")
    for x in author_element:
        if x.text[0] is 'T':
            byline = x.text[16:]
            byline_split = byline.split('Edited')
            author = byline_split[0]
        elif x.text[0] is '"':
            byline = x.text.replace('"', ' ')
            byline2 = byline.replace('Edited ', ' ')
            byline3 = byline2.replace('by', 'By')
            byline_split = byline3.split('By ')
            author = byline_split[1]
    timer_element = driver.find_elements_by_class_name('timer-count')
    timer = [x.text for x in timer_element]
    puzzle_dict2019[single_date.strftime("%Y-%m-%d")] = (timer[0], day_of_week, author, clue)
    time.sleep(10)

In [69]:
df1 = pd.DataFrame.from_dict(puzzle_dict, orient='index', columns=['solve_time', 'author', 'clues'])

NameError: name 'puzzle_dict' is not defined

In [71]:
df1 = pd.read_csv('1718.csv')

In [72]:
df17_18 = df1.drop(columns=['Unnamed: 0'], axis = 1)

In [73]:
df17_18['solve_time'] = formatted_times

In [74]:
df17_18

,Unnamed: 0.1,solve_time,author,clues,day
0,2017-01-01,00:33:53,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,2017-01-02,00:08:50,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2017-01-03,00:10:30,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,2017-01-04,00:20:17,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,2017-01-05,00:18:11,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...
725,2018-12-27,00:11:10,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,2018-12-28,00:12:53,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,2018-12-29,00:13:49,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,2018-12-30,00:32:25,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,2018-12-31,00:09:03,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [79]:
df17_18['solve_time'] = pd.to_datetime(df17_18['solve_time'],format= '%H:%M:%S' ).dt.time

In [80]:
df17_18

,Unnamed: 0.1,solve_time,author,clues,day
0,2017-01-01,00:33:53,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,2017-01-02,00:08:50,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2017-01-03,00:10:30,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,2017-01-04,00:20:17,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,2017-01-05,00:18:11,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...
725,2018-12-27,00:11:10,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,2018-12-28,00:12:53,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,2018-12-29,00:13:49,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,2018-12-30,00:32:25,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,2018-12-31,00:09:03,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [4]:
%%time 

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

puzzle_dict1516 = {}
start_date = date(2015, 1, 1)
end_date = date(2017, 1, 1)

for single_date in daterange(start_date, end_date):
    url = "https://www.nytimes.com/crosswords/game/daily/" + single_date.strftime("%Y/%m/%d") + "/"
    driver.get(url)
    clue_element = driver.find_elements_by_class_name("Clue-text--3lZl7")
    clue = [x.text for x in clue_element]
    day_element = driver.find_elements_by_class_name('PuzzleDetails-date--1HNzj')
    for x in day_element:
        date_info = x.text
        date_split = date_info.split(' ')
        day_of_week = date_split[0]
        author_element = driver.find_elements_by_class_name("PuzzleDetails-byline--16J5w")
    for x in author_element:
        if x.text[0] is 'T':
            byline = x.text[16:]
            byline_split = byline.split('Edited')
            author = byline_split[0]
        elif x.text[0] is '"':
            byline = x.text.replace('"', ' ')
            byline2 = byline.replace('Edited ', ' ')
            byline3 = byline2.replace('by', 'By')
            byline_split = byline3.split('By ')
            author = byline_split[1]
    timer_element = driver.find_elements_by_class_name('timer-count')
    timer = [x.text for x in timer_element]
    puzzle_dict1516[single_date.strftime("%Y-%m-%d")] = (time, day_of_week, author, clue)
    time.sleep(12)

CPU times: user 1min 4s, sys: 4.67 s, total: 1min 8s
Wall time: 3h 23min 34s

In [6]:
df2 = pd.DataFrame.from_dict(puzzle_dict1516, orient='index', columns=b['solve_time', 'day_of_week', 'author', 'clues'])

In [7]:
df2

,solve_time,day_of_week,author,clues
2015-01-01,<module 'time' (built-in)>,Thursday,JEFF CHEN and JILL DENNY,"[Person close to 100?, Kind of game or line, B..."
2015-01-02,<module 'time' (built-in)>,Friday,DAVID STEINBERG,"[One at the head of the class, informally, ""Fe..."
2015-01-03,<module 'time' (built-in)>,Saturday,SAM EZERSKY,"[Bollix, Rough selection?, 1975 Golden Globe w..."
2015-01-04,<module 'time' (built-in)>,Sunday,FINN VIGELAND,"[The ""1"" of 1/4, Org. portrayed in ""American H..."
2015-01-05,<module 'time' (built-in)>,Monday,JOHN GUZZETTA,"[More achy, Item in a pod, Helpful website fea..."
...,...,...,...,...
2016-12-27,<module 'time' (built-in)>,Tuesday,HERRE SCHOUWERWOU,"[Tease good-naturedly, Knock down a notch, Old..."
2016-12-28,<module 'time' (built-in)>,Wednesday,BRENDAN EMMETT QUIGLEY,"[Some pears, Joyous wedding dance, Lethal inje..."
2016-12-29,<module 'time' (built-in)>,Thursday,KEVAN CHOSET,"[Many a SpaceX worker: Abbr., Small drum, Year..."
2016-12-30,<module 'time' (built-in)>,Friday,PATRICK BERRY,"[It's soft and sweet, Turpentine source, Possi..."
2016-12-31,<module 'time' (built-in)>,Saturday,JEFF CHEN,"[Join, as two pieces of metal by application o..."

In [ ]:
df2016 = pd.DataFrame.from_dict(puzzle_dict2016, orient='index', columns=['solve_time', 'author', 'clues'])

df2016

In [28]:
df2016.to_csv('df2016.csv')

In [16]:
df2.to_csv('df2015and2016.csv')

In [18]:
df1

,Unnamed: 0,Unnamed: 0.1,solve_time,author,clues,day
0,0,2017-01-01,33:53,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,1,2017-01-02,8:50,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2,2017-01-03,10:30,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,3,2017-01-04,20:17,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,4,2017-01-05,18:11,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...,...
725,725,2018-12-27,11:10,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,726,2018-12-28,12:53,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,727,2018-12-29,13:49,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,728,2018-12-30,32:25,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,729,2018-12-31,9:03,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [62]:
solve_times = df1['solve_time'].to_list()

In [78]:
formatted_times = []
times_formatted = []
for i in solve_times:
    if len(i) == 4:
        formatted_times.append('00:0' + i)
    elif len(i) == 5:
        formatted_times.append('00:' + i)
    elif len(i) == 7:
        formatted_times.append('0' + i)
    else:
        formatted_times.append(i)

for x in formatted_times:
    times_formatted.append(time.strptime(x[, format='%H:%M:%S'])

SyntaxError: invalid syntax (<ipython-input-78-05cfaeae90c7>, line 14)

In [98]:
test_url2 = 'https://www.nytimes.com/crosswords/game/daily/2020/04/01'

driver.get(test_url2)

html_source = driver.page_source

author_element = driver.find_elements_by_class_name("PuzzleDetails-byline--16J5w")
for x in author_element:
    if x.text[0] is 'T':
        byline = x.text[16:]
        byline_split = byline.split('Edited')
        author = byline_split[0]
    elif x.text[0] is '"':
        byline = x.text.replace('"', ' ')
        byline2 = byline.replace('Edited ', ' ')
        byline3 = byline2.replace('by', 'By')
        byline_split = byline3.split('By ')
        author = byline_split[1]
author

'JOHN FICARRA AND PATRICK MERRELL'

In [50]:
test_url2 = 'https://www.nytimes.com/crosswords/game/daily/2020/04/01'

driver.get(test_url2)

html_source = driver.page_source

html_source

day_element = driver.find_elements_by_class_name('PuzzleDetails-date--1HNzj')
for x in day_element:
    date_info = x.text
    date_split = date_info.split(' ')
    day_of_week = date_split[0]

day_of_week

'Wednesday'

In [62]:
#making a day of the week list to add to an existing pandas df

days_list = []
for i in range(105):
    days_list.append('Sunday')
    days_list.append('Monday')
    days_list.append('Tuesday')
    days_list.append('Wednesday')
    days_list.append('Thursday')
    days_list.append('Friday')
    days_list.append('Saturday')

days_list = days_list[0:730]

len(days_list)
days_list

['Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday']

In [94]:
df1 = pd.read_csv('firstdf.csv')

In [95]:
df1['day'] = days_list

In [96]:
df1

,Unnamed: 0,solve_time,author,clues,day
0,2017-01-01,33:53,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,2017-01-02,8:50,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2017-01-03,10:30,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,2017-01-04,20:17,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,2017-01-05,18:11,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...
725,2018-12-27,11:10,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,2018-12-28,12:53,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,2018-12-29,13:49,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,2018-12-30,32:25,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,2018-12-31,9:03,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [93]:
df1

,Unnamed: 0,solve_time,author,clues,day
0,2017-01-01,33:53,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,2017-01-02,8:50,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2017-01-03,10:30,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,2017-01-04,20:17,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,2017-01-05,18:11,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...
725,2018-12-27,11:10,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,2018-12-28,12:53,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,2018-12-29,13:49,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,2018-12-30,32:25,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,2018-12-31,9:03,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [97]:
df1.to_csv('1718.csv')

In [129]:
%%time

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

puzzle_dict = {}
start_date = date(2019, 1, 1)
end_date = date(2020, 1, 1)

for single_date in daterange(start_date, end_date):
    #tell selenium to access the site and wait for it to load
    url = "https://www.nytimes.com/crosswords/game/daily/" + single_date.strftime("%Y/%m/%d") + "/"
    driver.get(url)
    time.sleep(10)
    
    #get all the clues and return them in a list
    clue_element = driver.find_elements_by_class_name("Clue-text--3lZl7")
    clue = [x.text for x in clue_element]
    
    #get the day of the week from the puzzle details
    day_element = driver.find_elements_by_class_name('PuzzleDetails-date--1HNzj')
    for x in day_element:
        date_info = x.text
        date_split = date_info.split(' ')
        day_of_week = date_split[0]
    author_element = driver.find_elements_by_class_name("PuzzleDetails-byline--16J5w")
    
    #get the author of the puzzle, parsing will be based on whether puzzle has a special title
    for x in author_element:
        if x.text[0] is 'T':
            byline = x.text[16:]
            byline_split = byline.split('Edited')
            author = byline_split[0]
        elif x.text[0] is '"':
            byline = x.text.replace('"', ' ')
            byline2 = byline.replace('Edited ', ' ')
            byline3 = byline2.replace('by', 'By')
            byline_split = byline3.split('By ')
            author = byline_split[1]
    
    #get the solve time and format it
    timer_element = driver.find_elements_by_class_name('timer-count')
    for x in timer_element:
        if len(x.text) == 4:
            timer = '00:0' + x.text
        elif len(x.text) == 5:
            timer = '00:' + x.text
        elif len(x.text) == 7:
            timer = '0' + x.text
        else:
            timer = x.text
    
    #convert timer to seconds
    date_time = datetime.datetime.strptime(timer, "%H:%M:%S")
    a_timedelta = date_time - datetime.datetime(1900, 1, 1)
    seconds = a_timedelta.total_seconds()
    
    #return all of the data in dictionary with the puzzle date as the key
    puzzle_dict[single_date.strftime("%Y-%m-%d")] = (seconds, day_of_week, author, clue)
    
    #tell selenium to wait a few more seconds before the next pull
    time.sleep(5)

CPU times: user 34.1 s, sys: 2.63 s, total: 36.8 s
Wall time: 1h 52min 8s

In [130]:
df = pd.DataFrame.from_dict(puzzle_dict, orient='index', columns=['solve_time', 'day_of_week', 'author', 'clues'])

In [131]:
df

,solve_time,day_of_week,author,clues
2019-01-01,786.0,Tuesday,GARY CEE,"[First victim of sibling rivalry, ___ Newton (..."
2019-01-02,1193.0,Wednesday,JACOB STULBERG,"[Gloomy atmosphere, Mess up, Subject of some y..."
2019-01-03,812.0,Thursday,TIMOTHY POLIN,"[Got the attention of, Followers of the Baal S..."
2019-01-04,837.0,Friday,NEIL PADRICK WILSON,"[Big affair, Disarray, Certain Mideast native,..."
2019-01-05,1130.0,Saturday,ANDREW ZHOU,"[___ shoes (ballet wear), Museum installations..."
...,...,...,...,...
2019-12-27,1036.0,Friday,SAM TRABUCCO,"[Cracker boxes?, Criticized continuously, Shar..."
2019-12-28,1178.0,Saturday,ROBYN WEINTRAUB,"[Where hands go in the Time Warp dance, Baker'..."
2019-12-29,1569.0,Sunday,ANDREW CHAIKIN,"[Reveal, as a plot twist, Hit 1980s-'90s show ..."
2019-12-30,493.0,Monday,GARY LARSON,"[___ Wednesday, Doing battle, Item in a humido..."
2019-12-31,447.0,Tuesday,EVAN KALISH,"[Diving gear, Home to seven ""-stan"" countries,..."

In [102]:
df.to_csv('Jan2019.csv')

In [91]:
df['solve_time'] = pd.to_datetime(df['solve_time'],format= '%H:%M:%S' ).dt.time

In [92]:
df

,solve_time,day_of_week,author,clues
2019-01-01,00:13:06,Tuesday,GARY CEE,"[First victim of sibling rivalry, ___ Newton (..."
2019-01-02,00:13:06,Tuesday,GARY CEE,[]
2019-01-03,00:13:32,Thursday,TIMOTHY POLIN,"[Got the attention of, Followers of the Baal S..."
2019-01-04,00:13:57,Friday,NEIL PADRICK WILSON,"[Big affair, Disarray, Certain Mideast native,..."
2019-01-05,00:18:50,Saturday,ANDREW ZHOU,"[___ shoes (ballet wear), Museum installations..."
2019-01-06,00:31:28,Sunday,ZHOUQIN BURNIKEL,"[19,000+-foot Peruvian volcano, Husband of Lar..."
2019-01-07,00:08:15,Monday,ANDREW KINGSLEY,"[___ San Lucas (Baja resort city), Chew the fa..."
2019-01-08,00:05:59,Tuesday,FREDDIE CHENG,"[Baker's dozen?, Wild feline, Path of the tip ..."
2019-01-09,00:13:13,Wednesday,TRENTON CHARLSON,"[Gold, frankincense and myrrh, famously, Fleet..."
2019-01-10,00:16:21,Thursday,DEREK BOWMAN and JEFF SLUTZKY,"[Italian scooter, Endurance, Glimpses, Like a ..."
2019-01-11,00:15:01,Friday,JEFF CHEN and JIM HORNE,"[Afraid of getting shot, Send a bunch of messa..."
2019-01-12,00:15:00,Saturday,SAM TRABUCCO,"[Game players?, Bob of ""Home Again"", Domineere..."
2019-01-13,00:25:11,Sunday,ANDY KRAVIS,"[Locale for a bottom feeder, Relinquish, Total..."
2019-01-14,00:07:08,Monday,CRAIG STOWE,"[Become narrower, ""Come to ___"", Kindergarten ..."
2019-01-15,00:13:08,Tuesday,SAMUEL A. DONALDSON,"[Object of puppy love, Acid's opposite, Eponym..."
2019-01-16,00:13:08,Tuesday,SAMUEL A. DONALDSON,[]
2019-01-17,00:15:05,Thursday,ROSS TRUDEAU,"[Made jokes, Slim amphibian, Genre for Jay-Z a..."
2019-01-18,00:15:05,Thursday,ROSS TRUDEAU,[]
2019-01-19,00:15:05,Thursday,ROSS TRUDEAU,[]
2019-01-20,00:34:10,Sunday,RICHARD CROWE,"[Moolah, Measured with steps, Part of a chapel..."
2019-01-21,00:09:16,Monday,SEAN BIGGINS,"[Turkish bigwig, Norway's capital, Luke, to Da..."
2019-01-22,00:13:48,Tuesday,JEFF CHEN and JOHN E. BENNETT,"[Jan. honoree, Mild reprimands, Industrial ves..."
2019-01-23,00:15:59,Wednesday,AMANDA CHUNG and KARL NI,"[Grouch, Some lines drawn with protractors, Ai..."
2019-01-24,00:18:09,Thursday,STU OCKMAN,"[First U.S. color TVs, Shooter's need, Believe..."
2019-01-25,00:18:29,Friday,ZHOUQIN BURNIKEL,"[Warning about a racket, Stuff to collect and ..."
2019-01-26,00:21:24,Saturday,GRANT THACKRAY,"[They're better than all the rest, ""One Thousa..."
2019-01-27,00:53:33,Sunday,RANDOLPH ROSS,"[Google Calendar, e.g., In addition, ""Foundati..."
2019-01-28,00:10:43,Monday,THOMAS VAN GEEL,"[Joint that a sock covers, Small recess, Karl ..."
2019-01-29,00:12:09,Tuesday,BENJAMIN KRAMER,"[Barred from competition, briefly, Prefix with..."
2019-01-30,00:13:11,Wednesday,EMILY CARROLL,"[""Aladdin"" prince, Sandal feature, Flat-bottom..."
2019-01-31,00:25:42,Thursday,PETER A. COLLINS,"[Intelligible, Ticker test, for short, Leaves ..."

In [96]:
time_string = "01:01:09"

date_time = datetime.datetime.strptime(time_string, "%H:%M:%S")

a_timedelta = date_time - datetime.datetime(1900, 1, 1)
seconds = a_timedelta.total_seconds()

seconds

3669.0

In [ ]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

In [107]:
solve_times = df17_18['solve_time'].to_list()

In [108]:
solve_times

[datetime.time(0, 33, 53),
 datetime.time(0, 8, 50),
 datetime.time(0, 10, 30),
 datetime.time(0, 20, 17),
 datetime.time(0, 18, 11),
 datetime.time(0, 22, 28),
 datetime.time(0, 20, 43),
 datetime.time(0, 31, 44),
 datetime.time(0, 7, 42),
 datetime.time(0, 15, 26),
 datetime.time(0, 19, 21),
 datetime.time(0, 14, 31),
 datetime.time(0, 23, 11),
 datetime.time(0, 23, 21),
 datetime.time(0, 30, 14),
 datetime.time(0, 10, 54),
 datetime.time(0, 13, 52),
 datetime.time(0, 8, 39),
 datetime.time(0, 23, 5),
 datetime.time(0, 22, 56),
 datetime.time(0, 24, 11),
 datetime.time(0, 38, 38),
 datetime.time(0, 9, 36),
 datetime.time(0, 14, 2),
 datetime.time(0, 21, 21),
 datetime.time(0, 19, 4),
 datetime.time(0, 17, 23),
 datetime.time(0, 24, 35),
 datetime.time(0, 28, 35),
 datetime.time(0, 10, 4),
 datetime.time(0, 25, 50),
 datetime.time(0, 14, 28),
 datetime.time(0, 20, 21),
 datetime.time(0, 22, 26),
 datetime.time(0, 22, 21),
 datetime.time(0, 30, 20),
 datetime.time(0, 9, 5),
 datetime.time(0, 13, 34),
 datetime.time(0, 19, 53),
 datetime.time(0, 18, 17),
 datetime.time(0, 14, 14),
 datetime.time(0, 24, 43),
 datetime.time(0, 35, 9),
 datetime.time(0, 11, 28),
 datetime.time(0, 14, 41),
 datetime.time(0, 13, 47),
 datetime.time(0, 17, 48),
 datetime.time(0, 23, 13),
 datetime.time(0, 23, 45),
 datetime.time(0, 34, 25),
 datetime.time(0, 13, 25),
 datetime.time(0, 10, 23),
 datetime.time(0, 14, 4),
 datetime.time(0, 14, 12),
 datetime.time(0, 21, 36),
 datetime.time(0, 22, 52),
 datetime.time(0, 23, 37),
 datetime.time(0, 8, 6),
 datetime.time(0, 17, 8),
 datetime.time(0, 11),
 datetime.time(0, 20, 53),
 datetime.time(0, 22, 47),
 datetime.time(0, 21, 52),
 datetime.time(0, 41, 15),
 datetime.time(0, 12, 50),
 datetime.time(0, 11, 13),
 datetime.time(0, 17, 24),
 datetime.time(0, 13, 20),
 datetime.time(0, 22, 46),
 datetime.time(0, 17, 56),
 datetime.time(0, 35, 56),
 datetime.time(0, 8, 34),
 datetime.time(0, 15, 56),
 datetime.time(0, 18, 7),
 datetime.time(0, 17, 1),
 datetime.time(0, 21, 39),
 datetime.time(0, 23, 42),
 datetime.time(0, 34, 40),
 datetime.time(0, 10, 28),
 datetime.time(0, 24, 57),
 datetime.time(0, 28, 18),
 datetime.time(0, 21, 56),
 datetime.time(0, 24, 26),
 datetime.time(0, 19, 11),
 datetime.time(0, 34, 53),
 datetime.time(0, 10, 25),
 datetime.time(0, 12, 23),
 datetime.time(0, 16, 9),
 datetime.time(0, 22, 54),
 datetime.time(0, 45, 59),
 datetime.time(3, 26, 39),
 datetime.time(2, 51, 55),
 datetime.time(0, 9, 38),
 datetime.time(0, 14, 46),
 datetime.time(0, 12, 26),
 datetime.time(0, 20, 8),
 datetime.time(0, 25, 33),
 datetime.time(0, 32, 58),
 datetime.time(2, 1, 41),
 datetime.time(0, 9, 17),
 datetime.time(0, 13, 32),
 datetime.time(0, 19, 10),
 datetime.time(0, 24, 27),
 datetime.time(0, 20),
 datetime.time(0, 20, 44),
 datetime.time(0, 41, 59),
 datetime.time(0, 12, 39),
 datetime.time(0, 16, 16),
 datetime.time(0, 22, 26),
 datetime.time(0, 31),
 datetime.time(0, 24, 31),
 datetime.time(0, 23, 15),
 datetime.time(0, 38, 14),
 datetime.time(0, 8, 51),
 datetime.time(0, 17, 53),
 datetime.time(0, 15, 50),
 datetime.time(0, 20, 30),
 datetime.time(0, 26, 45),
 datetime.time(0, 23, 21),
 datetime.time(0, 46, 38),
 datetime.time(0, 15, 2),
 datetime.time(0, 23, 24),
 datetime.time(0, 16, 39),
 datetime.time(0, 19, 52),
 datetime.time(0, 17, 43),
 datetime.time(0, 44, 25),
 datetime.time(0, 32, 29),
 datetime.time(0, 13, 22),
 datetime.time(0, 16, 27),
 datetime.time(0, 28, 58),
 datetime.time(0, 24, 59),
 datetime.time(1, 1, 44),
 datetime.time(0, 39, 7),
 datetime.time(0, 43, 41),
 datetime.time(0, 10, 44),
 datetime.time(0, 44, 56),
 datetime.time(0, 38, 1),
 datetime.time(0, 22, 1),
 datetime.time(0, 21, 43),
 datetime.time(0, 24, 48),
 datetime.time(1, 38, 34),
 datetime.time(0, 19, 56),
 datetime.time(0, 38, 34),
 datetime.time(0, 30),
 datetime.time(0, 19, 56),
 datetime.time(0, 39, 43),
 datetime.time(1, 7, 18),
 datetime.time(1, 47, 22),
 datetime.time(0, 8, 23),
 datetime.time(0, 24, 40),
 datetime.time(0, 45, 34),
 datetime.time(0, 54, 34),
 datetime.time(0, 19, 3),
 datetime.time(0, 52, 58),
 datetime.time(0, 44, 1),
 datetime.time(0, 14, 56),
 datetime.time(0, 17, 17),
 datetime.time(0, 13, 34),
 datetime.time(0, 26, 42),
 datetime.time(0, 23, 32),
 datetime.time(0, 49, 58),
 datetime.time(0, 29, 24),
 datetime.time(0, 22, 53),
 datetime.time(0, 21, 23),
 datetime.time(0, 30, 8),
 datetime.time(0, 34, 58),
 datetime.time(0, 21, 40),
 datetime.time(0, 30, 25),
 datetime.time(1, 13, 56),
 datetime.time(0, 12, 11),
 datetime.time(0, 25, 39),
 datetime.time(0, 13, 33),
 datetime.time(0, 22, 55),
 datetime.time(0, 31, 37),
 datetime.time(0, 28, 22),
 datetime.time(0, 47, 5),
 datetime.time(0, 18, 16),
 datetime.time(0, 14, 50),
 datetime.time(0, 37, 6),
 datetime.time(0, 27, 26),
 datetime.time(0, 44, 16),
 datetime.time(0, 15, 49),
 datetime.time(0, 47, 15),
 datetime.time(0, 9, 34),
 datetime.time(0, 15, 27),
 datetime.time(0, 30, 3),
 datetime.time(0, 20, 59),
 datetime.time(0, 22, 41),
 datetime.time(0, 20, 5),
 datetime.time(0, 41, 51),
 datetime.time(0, 13, 15),
 datetime.time(0, 15, 20),
 datetime.time(0, 23, 34),
 datetime.time(0, 40, 17),
 datetime.time(0, 27, 47),
 datetime.time(1, 15, 4),
 datetime.time(0, 56, 37),
 datetime.time(0, 19, 23),
 datetime.time(0, 27, 44),
 datetime.time(0, 26, 47),
 datetime.time(0, 36, 24),
 datetime.time(0, 31, 12),
 datetime.time(0, 33, 6),
 datetime.time(0, 58, 13),
 datetime.time(0, 11, 29),
 datetime.time(0, 29, 41),
 datetime.time(0, 31, 15),
 datetime.time(1, 1, 38),
 datetime.time(0, 38, 36),
 datetime.time(0, 36, 47),
 datetime.time(0, 50, 36),
 datetime.time(0, 13, 12),
 datetime.time(0, 26, 10),
 datetime.time(0, 16, 32),
 datetime.time(0, 33, 27),
 datetime.time(0, 24, 5),
 datetime.time(0, 15, 54),
 datetime.time(0, 57, 27),
 datetime.time(0, 20, 1),
 datetime.time(0, 21, 6),
 datetime.time(0, 22, 50),
 datetime.time(0, 31, 32),
 datetime.time(0, 31, 35),
 datetime.time(0, 31, 57),
 datetime.time(0, 55, 50),
 datetime.time(0, 15, 30),
 datetime.time(0, 19, 39),
 datetime.time(0, 15, 9),
 datetime.time(0, 30, 52),
 datetime.time(0, 28, 44),
 datetime.time(0, 39, 17),
 datetime.time(0, 56, 12),
 datetime.time(0, 14, 58),
 datetime.time(0, 17, 30),
 datetime.time(0, 26, 19),
 datetime.time(0, 34, 5),
 datetime.time(0, 28, 18),
 datetime.time(0, 29, 23),
 datetime.time(0, 59, 47),
 datetime.time(0, 23, 10),
 datetime.time(0, 25, 35),
 datetime.time(0, 37, 44),
 datetime.time(0, 39, 15),
 datetime.time(0, 38, 27),
 datetime.time(0, 40, 43),
 datetime.time(1, 13, 5),
 datetime.time(0, 16, 58),
 datetime.time(0, 24, 52),
 datetime.time(0, 26, 6),
 datetime.time(0, 31, 32),
 datetime.time(0, 31, 21),
 datetime.time(0, 39, 22),
 datetime.time(0, 49, 3),
 datetime.time(0, 13, 46),
 datetime.time(0, 29, 1),
 datetime.time(0, 20, 41),
 datetime.time(0, 40, 39),
 datetime.time(0, 37, 41),
 datetime.time(0, 44, 3),
 datetime.time(1, 12, 48),
 datetime.time(0, 8, 56),
 datetime.time(0, 22, 12),
 datetime.time(0, 33, 2),
 datetime.time(0, 44, 29),
 datetime.time(0, 49, 31),
 datetime.time(0, 40, 39),
 datetime.time(0, 59, 39),
 datetime.time(0, 18, 46),
 datetime.time(0, 33),
 datetime.time(0, 30, 58),
 datetime.time(0, 27, 35),
 datetime.time(0, 28, 29),
 datetime.time(0, 31, 15),
 datetime.time(1, 25, 44),
 datetime.time(0, 15, 47),
 datetime.time(0, 24, 55),
 datetime.time(0, 25, 36),
 datetime.time(0, 31, 9),
 datetime.time(0, 34, 38),
 datetime.time(0, 59, 25),
 datetime.time(1, 5, 2),
 datetime.time(0, 23, 9),
 datetime.time(0, 19, 49),
 datetime.time(0, 25, 7),
 datetime.time(0, 36, 19),
 datetime.time(0, 35, 12),
 datetime.time(0, 29, 3),
 datetime.time(0, 53, 55),
 datetime.time(0, 11, 44),
 datetime.time(0, 19, 26),
 datetime.time(0, 20, 59),
 datetime.time(0, 28, 22),
 datetime.time(0, 22, 12),
 datetime.time(1, 8, 2),
 datetime.time(0, 41, 27),
 datetime.time(0, 17, 10),
 datetime.time(0, 18, 25),
 datetime.time(0, 22, 6),
 datetime.time(0, 25, 33),
 datetime.time(0, 32, 22),
 datetime.time(0, 26, 16),
 datetime.time(0, 43, 50),
 datetime.time(0, 14, 34),
 datetime.time(0, 19, 45),
 datetime.time(0, 25, 2),
 datetime.time(0, 28, 47),
 datetime.time(0, 23, 48),
 datetime.time(0, 31, 22),
 datetime.time(1, 4, 33),
 datetime.time(0, 13, 36),
 datetime.time(0, 19, 14),
 datetime.time(0, 28, 53),
 datetime.time(0, 24, 51),
 datetime.time(0, 23, 5),
 datetime.time(0, 27, 51),
 datetime.time(0, 45, 50),
 datetime.time(0, 21, 40),
 datetime.time(0, 16, 20),
 datetime.time(0, 14, 43),
 datetime.time(0, 22, 37),
 datetime.time(0, 35, 13),
 datetime.time(0, 16, 43),
 datetime.time(0, 45, 19),
 datetime.time(0, 12, 48),
 datetime.time(0, 15, 48),
 datetime.time(0, 21, 43),
 datetime.time(0, 28, 44),
 datetime.time(0, 26, 37),
 datetime.time(0, 36, 2),
 datetime.time(0, 37, 47),
 datetime.time(0, 13, 2),
 datetime.time(0, 15, 10),
 datetime.time(0, 16, 5),
 datetime.time(0, 20, 29),
 datetime.time(0, 15, 47),
 datetime.time(0, 22, 1),
 datetime.time(0, 45, 23),
 datetime.time(0, 9, 2),
 datetime.time(0, 21, 43),
 datetime.time(0, 25, 20),
 datetime.time(0, 24, 29),
 datetime.time(0, 15, 8),
 datetime.time(0, 19, 40),
 datetime.time(0, 43, 42),
 datetime.time(0, 12, 42),
 datetime.time(0, 15, 42),
 datetime.time(0, 13, 36),
 datetime.time(0, 24, 15),
 datetime.time(0, 17, 24),
 datetime.time(0, 21, 45),
 datetime.time(0, 36, 53),
 datetime.time(0, 12, 47),
 datetime.time(0, 26, 39),
 datetime.time(0, 16, 40),
 datetime.time(0, 24, 40),
 datetime.time(0, 15, 20),
 datetime.time(0, 18, 20),
 datetime.time(0, 36, 15),
 datetime.time(0, 12, 37),
 datetime.time(0, 20, 10),
 datetime.time(0, 20, 43),
 datetime.time(0, 18, 57),
 datetime.time(0, 30, 11),
 datetime.time(0, 16, 59),
 datetime.time(0, 36, 28),
 datetime.time(0, 15, 19),
 datetime.time(0, 14, 5),
 datetime.time(0, 15, 11),
 datetime.time(0, 23, 31),
 datetime.time(0, 17, 7),
 datetime.time(0, 18, 57),
 datetime.time(1, 0, 57),
 datetime.time(0, 10, 35),
 datetime.time(0, 14, 10),
 datetime.time(0, 20, 12),
 datetime.time(0, 19, 18),
 datetime.time(0, 19, 20),
 datetime.time(0, 18, 3),
 datetime.time(0, 49, 23),
 datetime.time(0, 9, 29),
 datetime.time(0, 21, 41),
 datetime.time(0, 21, 54),
 datetime.time(0, 22, 31),
 datetime.time(0, 21, 22),
 datetime.time(0, 18, 25),
 datetime.time(0, 41, 25),
 datetime.time(0, 14, 34),
 datetime.time(0, 17, 17),
 datetime.time(0, 18, 1),
 datetime.time(0, 29, 15),
 datetime.time(0, 15, 52),
 datetime.time(0, 14, 55),
 datetime.time(0, 44, 57),
 datetime.time(0, 14, 22),
 datetime.time(0, 20, 51),
 datetime.time(0, 20, 52),
 datetime.time(0, 26, 36),
 datetime.time(0, 23, 8),
 datetime.time(0, 17, 9),
 datetime.time(0, 37, 41),
 datetime.time(0, 10, 21),
 datetime.time(0, 13, 51),
 datetime.time(0, 15, 25),
 datetime.time(0, 17, 42),
 datetime.time(0, 18, 10),
 datetime.time(0, 18, 41),
 datetime.time(0, 38, 32),
 datetime.time(0, 12, 13),
 datetime.time(0, 27, 11),
 datetime.time(0, 21, 22),
 datetime.time(0, 21, 24),
 datetime.time(0, 13, 59),
 datetime.time(0, 23, 46),
 datetime.time(0, 41, 9),
 datetime.time(0, 9, 21),
 datetime.time(0, 12, 59),
 datetime.time(0, 17, 33),
 datetime.time(0, 15, 11),
 datetime.time(0, 17, 38),
 datetime.time(0, 21, 45),
 datetime.time(0, 51, 44),
 datetime.time(0, 10, 14),
 datetime.time(0, 11, 14),
 datetime.time(0, 14, 29),
 datetime.time(0, 16, 38),
 datetime.time(0, 23, 31),
 datetime.time(0, 18, 59),
 datetime.time(0, 50, 12),
 datetime.time(0, 9, 7),
 datetime.time(0, 13, 30),
 datetime.time(0, 15, 24),
 datetime.time(0, 15, 15),
 datetime.time(0, 22, 49),
 datetime.time(0, 15, 56),
 datetime.time(0, 36, 36),
 datetime.time(0, 18, 10),
 datetime.time(0, 13, 8),
 datetime.time(0, 12, 58),
 datetime.time(0, 12, 45),
 datetime.time(0, 16, 42),
 datetime.time(0, 16, 41),
 datetime.time(0, 33, 43),
 datetime.time(0, 12, 11),
 datetime.time(0, 12, 27),
 datetime.time(0, 12, 11),
 datetime.time(0, 16, 57),
 datetime.time(0, 13, 55),
 datetime.time(0, 30, 13),
 datetime.time(0, 43, 21),
 datetime.time(0, 15, 32),
 datetime.time(0, 27, 47),
 datetime.time(0, 18, 49),
 datetime.time(0, 19, 28),
 datetime.time(0, 19, 55),
 datetime.time(0, 30, 33),
 datetime.time(0, 45, 55),
 datetime.time(0, 9, 42),
 datetime.time(0, 16, 30),
 datetime.time(0, 17, 48),
 datetime.time(0, 21, 30),
 datetime.time(0, 34, 31),
 datetime.time(0, 24, 50),
 datetime.time(0, 48, 4),
 datetime.time(0, 7, 55),
 datetime.time(0, 17, 36),
 datetime.time(0, 8, 11),
 datetime.time(0, 26, 32),
 datetime.time(0, 18, 35),
 datetime.time(0, 25, 33),
 datetime.time(0, 41, 55),
 datetime.time(0, 12, 15),
 datetime.time(0, 19, 9),
 datetime.time(0, 24, 37),
 datetime.time(0, 21, 3),
 datetime.time(0, 25, 26),
 datetime.time(0, 21, 1),
 datetime.time(0, 14, 13),
 datetime.time(0, 14, 35),
 datetime.time(0, 18, 17),
 datetime.time(0, 28, 20),
 datetime.time(0, 23, 6),
 datetime.time(0, 35, 32),
 datetime.time(0, 31, 54),
 datetime.time(0, 36, 32),
 datetime.time(0, 10, 23),
 datetime.time(0, 15, 1),
 datetime.time(0, 16, 31),
 datetime.time(0, 18, 39),
 datetime.time(0, 22, 56),
 datetime.time(0, 27, 33),
 datetime.time(0, 44, 11),
 datetime.time(0, 9, 39),
 datetime.time(0, 8, 47),
 datetime.time(0, 18, 12),
 datetime.time(0, 16, 52),
 datetime.time(0, 17, 34),
 datetime.time(0, 27, 11),
 datetime.time(0, 26, 17),
 datetime.time(0, 7, 47),
 datetime.time(0, 12, 29),
 datetime.time(0, 14, 9),
 datetime.time(0, 15, 45),
 datetime.time(0, 18, 4),
 datetime.time(0, 17, 52),
 datetime.time(0, 35, 22),
 datetime.time(0, 11, 54),
 datetime.time(0, 28, 20),
 datetime.time(0, 12, 41),
 datetime.time(0, 15, 27),
 datetime.time(0, 18, 31),
 datetime.time(0, 17, 39),
 datetime.time(0, 31, 44),
 datetime.time(0, 18, 20),
 datetime.time(0, 16, 16),
 datetime.time(0, 15, 55),
 datetime.time(0, 17, 42),
 datetime.time(0, 19, 25),
 datetime.time(0, 19, 1),
 datetime.time(0, 36, 7),
 datetime.time(0, 8, 25),
 datetime.time(0, 17, 18),
 datetime.time(0, 17, 48),
 datetime.time(0, 22, 20),
 datetime.time(0, 19, 53),
 datetime.time(0, 20, 53),
 datetime.time(0, 43, 50),
 datetime.time(0, 9, 38),
 datetime.time(0, 10, 39),
 datetime.time(0, 15, 20),
 datetime.time(0, 21, 55),
 datetime.time(0, 22, 27),
 datetime.time(0, 23, 23),
 datetime.time(0, 43, 16),
 datetime.time(0, 8, 37),
 datetime.time(0, 11, 26),
 datetime.time(0, 19, 5),
 datetime.time(0, 22, 55),
 datetime.time(0, 14, 56),
 datetime.time(0, 25, 41),
 datetime.time(0, 43, 34),
 datetime.time(0, 12, 43),
 datetime.time(0, 16, 2),
 datetime.time(0, 18, 46),
 datetime.time(0, 21, 34),
 datetime.time(0, 27, 20),
 datetime.time(0, 22, 46),
 datetime.time(0, 32, 58),
 datetime.time(0, 7, 27),
 datetime.time(0, 9, 47),
 datetime.time(0, 14, 34),
 datetime.time(0, 19, 51),
 datetime.time(0, 18, 52),
 datetime.time(0, 30, 56),
 datetime.time(0, 41, 22),
 datetime.time(0, 11, 25),
 datetime.time(0, 18, 21),
 datetime.time(0, 11, 53),
 datetime.time(0, 47, 30),
 datetime.time(0, 23, 50),
 datetime.time(0, 20, 2),
 datetime.time(0, 59, 3),
 datetime.time(0, 7, 3),
 datetime.time(0, 11, 28),
 datetime.time(0, 23, 3),
 datetime.time(0, 22, 9),
 datetime.time(0, 16, 24),
 datetime.time(0, 20, 40),
 datetime.time(0, 47, 34),
 datetime.time(0, 10, 22),
 datetime.time(0, 20, 6),
 datetime.time(0, 19, 39),
 datetime.time(0, 20, 47),
 datetime.time(0, 16, 19),
 datetime.time(0, 31, 28),
 datetime.time(1, 1, 37),
 datetime.time(0, 8, 44),
 datetime.time(0, 16, 31),
 datetime.time(0, 14, 40),
 datetime.time(0, 17, 53),
 datetime.time(0, 16, 58),
 datetime.time(0, 25, 43),
 datetime.time(0, 40, 32),
 datetime.time(0, 7, 14),
 datetime.time(0, 12, 43),
 datetime.time(0, 11, 13),
 datetime.time(0, 14),
 datetime.time(0, 15, 44),
 datetime.time(0, 19, 48),
 datetime.time(0, 32, 2),
 datetime.time(0, 11, 12),
 datetime.time(0, 8, 5),
 datetime.time(0, 17, 21),
 datetime.time(0, 17, 57),
 datetime.time(0, 27, 5),
 datetime.time(0, 16, 5),
 datetime.time(0, 56, 22),
 datetime.time(0, 8, 28),
 datetime.time(0, 17, 15),
 datetime.time(0, 16, 5),
 datetime.time(0, 16, 56),
 datetime.time(0, 24, 28),
 datetime.time(0, 26, 22),
 datetime.time(0, 37, 21),
 datetime.time(0, 14, 4),
 datetime.time(0, 15, 41),
 datetime.time(0, 18, 13),
 datetime.time(0, 19, 56),
 datetime.time(0, 23, 28),
 datetime.time(0, 14, 11),
 datetime.time(0, 23, 42),
 datetime.time(0, 7, 50),
 datetime.time(0, 10, 38),
 datetime.time(0, 10, 28),
 datetime.time(0, 18, 5),
 datetime.time(0, 12, 43),
 datetime.time(0, 12, 50),
 datetime.time(0, 48, 11),
 datetime.time(0, 10, 56),
 datetime.time(0, 12, 26),
 datetime.time(0, 15, 32),
 datetime.time(0, 19, 12),
 datetime.time(0, 14, 7),
 datetime.time(0, 18, 10),
 datetime.time(0, 32, 24),
 datetime.time(0, 6, 19),
 datetime.time(0, 11, 2),
 datetime.time(0, 12, 8),
 datetime.time(0, 19, 42),
 datetime.time(0, 13, 1),
 datetime.time(0, 42, 3),
 datetime.time(0, 57, 36),
 datetime.time(0, 6, 39),
 datetime.time(0, 9, 10),
 datetime.time(0, 14, 5),
 datetime.time(0, 15, 55),
 datetime.time(0, 11, 41),
 datetime.time(0, 25, 42),
 datetime.time(0, 27, 5),
 datetime.time(0, 11),
 datetime.time(0, 27, 30),
 datetime.time(0, 17, 13),
 datetime.time(0, 18, 21),
 datetime.time(0, 21, 31),
 datetime.time(0, 26, 56),
 datetime.time(0, 35, 5),
 datetime.time(0, 7, 37),
 datetime.time(0, 10),
 datetime.time(0, 19, 58),
 datetime.time(0, 20, 16),
 datetime.time(0, 15, 16),
 datetime.time(0, 21, 41),
 datetime.time(0, 31, 59),
 datetime.time(0, 9, 13),
 datetime.time(0, 7, 30),
 datetime.time(0, 10, 35),
 datetime.time(0, 16, 19),
 datetime.time(0, 11, 23),
 datetime.time(0, 21, 12),
 datetime.time(0, 23, 26),
 datetime.time(0, 10, 13),
 datetime.time(0, 11, 45),
 datetime.time(0, 18, 11),
 datetime.time(0, 16, 41),
 datetime.time(0, 19, 15),
 datetime.time(0, 12, 54),
 datetime.time(0, 27, 13),
 datetime.time(0, 6, 34),
 datetime.time(0, 11, 7),
 datetime.time(0, 17, 19),
 datetime.time(0, 13, 29),
 datetime.time(0, 17, 26),
 datetime.time(0, 13, 30),
 datetime.time(0, 34, 7),
 datetime.time(0, 5, 40),
 datetime.time(0, 10, 4),
 datetime.time(0, 13, 13),
 datetime.time(0, 11, 29),
 datetime.time(0, 7, 42),
 datetime.time(0, 18, 9),
 datetime.time(0, 39, 54),
 datetime.time(0, 8, 17),
 datetime.time(0, 11, 27),
 datetime.time(0, 10, 41),
 datetime.time(0, 10, 52),
 datetime.time(0, 14, 22),
 datetime.time(0, 20, 24),
 datetime.time(0, 31, 49),
 datetime.time(0, 8, 30),
 datetime.time(0, 7, 8),
 datetime.time(0, 31, 40),
 datetime.time(0, 29, 46),
 datetime.time(0, 16, 57),
 datetime.time(0, 19, 29),
 datetime.time(0, 29, 5),
 datetime.time(0, 5, 40),
 datetime.time(0, 9, 39),
 datetime.time(0, 16, 45),
 datetime.time(0, 15, 10),
 datetime.time(0, 10, 35),
 datetime.time(0, 20, 12),
 datetime.time(0, 27, 50),
 datetime.time(0, 7, 12),
 datetime.time(0, 9, 11),
 datetime.time(0, 23, 48),
 datetime.time(0, 13, 40),
 datetime.time(0, 18, 35),
 datetime.time(0, 19, 36),
 datetime.time(0, 41, 7),
 datetime.time(0, 6, 30),
 datetime.time(0, 11, 17),
 datetime.time(0, 15, 46),
 datetime.time(0, 11, 35),
 datetime.time(0, 14, 1),
 datetime.time(0, 12, 52),
 datetime.time(0, 32, 26),
 datetime.time(0, 5, 40),
 datetime.time(0, 10, 28),
 datetime.time(0, 15, 42),
 datetime.time(0, 11, 29),
 datetime.time(0, 20, 36),
 datetime.time(0, 10, 22),
 datetime.time(0, 23, 47),
 datetime.time(0, 12, 17),
 datetime.time(0, 14, 7),
 datetime.time(0, 10, 36),
 datetime.time(0, 11, 10),
 datetime.time(0, 12, 53),
 datetime.time(0, 13, 49),
 datetime.time(0, 32, 25),
 datetime.time(0, 9, 3)]

In [110]:
df = pd.read_csv('1718.csv')

In [113]:
solve_times = df['solve_time'].to_list()

In [114]:
solve_times

['33:53',
 '8:50',
 '10:30',
 '20:17',
 '18:11',
 '22:28',
 '20:43',
 '31:44',
 '7:42',
 '15:26',
 '19:21',
 '14:31',
 '23:11',
 '23:21',
 '30:14',
 '10:54',
 '13:52',
 '8:39',
 '23:05',
 '22:56',
 '24:11',
 '38:38',
 '9:36',
 '14:02',
 '21:21',
 '19:04',
 '17:23',
 '24:35',
 '28:35',
 '10:04',
 '25:50',
 '14:28',
 '20:21',
 '22:26',
 '22:21',
 '30:20',
 '9:05',
 '13:34',
 '19:53',
 '18:17',
 '14:14',
 '24:43',
 '35:09',
 '11:28',
 '14:41',
 '13:47',
 '17:48',
 '23:13',
 '23:45',
 '34:25',
 '13:25',
 '10:23',
 '14:04',
 '14:12',
 '21:36',
 '22:52',
 '23:37',
 '8:06',
 '17:08',
 '11:00',
 '20:53',
 '22:47',
 '21:52',
 '41:15',
 '12:50',
 '11:13',
 '17:24',
 '13:20',
 '22:46',
 '17:56',
 '35:56',
 '8:34',
 '15:56',
 '18:07',
 '17:01',
 '21:39',
 '23:42',
 '34:40',
 '10:28',
 '24:57',
 '28:18',
 '21:56',
 '24:26',
 '19:11',
 '34:53',
 '10:25',
 '12:23',
 '16:09',
 '22:54',
 '45:59',
 '3:26:39',
 '2:51:55',
 '9:38',
 '14:46',
 '12:26',
 '20:08',
 '25:33',
 '32:58',
 '2:01:41',
 '9:17',
 '13:32',
 '19:10',
 '24:27',
 '20:00',
 '20:44',
 '41:59',
 '12:39',
 '16:16',
 '22:26',
 '31:00',
 '24:31',
 '23:15',
 '38:14',
 '8:51',
 '17:53',
 '15:50',
 '20:30',
 '26:45',
 '23:21',
 '46:38',
 '15:02',
 '23:24',
 '16:39',
 '19:52',
 '17:43',
 '44:25',
 '32:29',
 '13:22',
 '16:27',
 '28:58',
 '24:59',
 '1:01:44',
 '39:07',
 '43:41',
 '10:44',
 '44:56',
 '38:01',
 '22:01',
 '21:43',
 '24:48',
 '1:38:34',
 '19:56',
 '38:34',
 '30:00',
 '19:56',
 '39:43',
 '1:07:18',
 '1:47:22',
 '8:23',
 '24:40',
 '45:34',
 '54:34',
 '19:03',
 '52:58',
 '44:01',
 '14:56',
 '17:17',
 '13:34',
 '26:42',
 '23:32',
 '49:58',
 '29:24',
 '22:53',
 '21:23',
 '30:08',
 '34:58',
 '21:40',
 '30:25',
 '1:13:56',
 '12:11',
 '25:39',
 '13:33',
 '22:55',
 '31:37',
 '28:22',
 '47:05',
 '18:16',
 '14:50',
 '37:06',
 '27:26',
 '44:16',
 '15:49',
 '47:15',
 '9:34',
 '15:27',
 '30:03',
 '20:59',
 '22:41',
 '20:05',
 '41:51',
 '13:15',
 '15:20',
 '23:34',
 '40:17',
 '27:47',
 '1:15:04',
 '56:37',
 '19:23',
 '27:44',
 '26:47',
 '36:24',
 '31:12',
 '33:06',
 '58:13',
 '11:29',
 '29:41',
 '31:15',
 '1:01:38',
 '38:36',
 '36:47',
 '50:36',
 '13:12',
 '26:10',
 '16:32',
 '33:27',
 '24:05',
 '15:54',
 '57:27',
 '20:01',
 '21:06',
 '22:50',
 '31:32',
 '31:35',
 '31:57',
 '55:50',
 '15:30',
 '19:39',
 '15:09',
 '30:52',
 '28:44',
 '39:17',
 '56:12',
 '14:58',
 '17:30',
 '26:19',
 '34:05',
 '28:18',
 '29:23',
 '59:47',
 '23:10',
 '25:35',
 '37:44',
 '39:15',
 '38:27',
 '40:43',
 '1:13:05',
 '16:58',
 '24:52',
 '26:06',
 '31:32',
 '31:21',
 '39:22',
 '49:03',
 '13:46',
 '29:01',
 '20:41',
 '40:39',
 '37:41',
 '44:03',
 '1:12:48',
 '8:56',
 '22:12',
 '33:02',
 '44:29',
 '49:31',
 '40:39',
 '59:39',
 '18:46',
 '33:00',
 '30:58',
 '27:35',
 '28:29',
 '31:15',
 '1:25:44',
 '15:47',
 '24:55',
 '25:36',
 '31:09',
 '34:38',
 '59:25',
 '1:05:02',
 '23:09',
 '19:49',
 '25:07',
 '36:19',
 '35:12',
 '29:03',
 '53:55',
 '11:44',
 '19:26',
 '20:59',
 '28:22',
 '22:12',
 '1:08:02',
 '41:27',
 '17:10',
 '18:25',
 '22:06',
 '25:33',
 '32:22',
 '26:16',
 '43:50',
 '14:34',
 '19:45',
 '25:02',
 '28:47',
 '23:48',
 '31:22',
 '1:04:33',
 '13:36',
 '19:14',
 '28:53',
 '24:51',
 '23:05',
 '27:51',
 '45:50',
 '21:40',
 '16:20',
 '14:43',
 '22:37',
 '35:13',
 '16:43',
 '45:19',
 '12:48',
 '15:48',
 '21:43',
 '28:44',
 '26:37',
 '36:02',
 '37:47',
 '13:02',
 '15:10',
 '16:05',
 '20:29',
 '15:47',
 '22:01',
 '45:23',
 '9:02',
 '21:43',
 '25:20',
 '24:29',
 '15:08',
 '19:40',
 '43:42',
 '12:42',
 '15:42',
 '13:36',
 '24:15',
 '17:24',
 '21:45',
 '36:53',
 '12:47',
 '26:39',
 '16:40',
 '24:40',
 '15:20',
 '18:20',
 '36:15',
 '12:37',
 '20:10',
 '20:43',
 '18:57',
 '30:11',
 '16:59',
 '36:28',
 '15:19',
 '14:05',
 '15:11',
 '23:31',
 '17:07',
 '18:57',
 '1:00:57',
 '10:35',
 '14:10',
 '20:12',
 '19:18',
 '19:20',
 '18:03',
 '49:23',
 '9:29',
 '21:41',
 '21:54',
 '22:31',
 '21:22',
 '18:25',
 '41:25',
 '14:34',
 '17:17',
 '18:01',
 '29:15',
 '15:52',
 '14:55',
 '44:57',
 '14:22',
 '20:51',
 '20:52',
 '26:36',
 '23:08',
 '17:09',
 '37:41',
 '10:21',
 '13:51',
 '15:25',
 '17:42',
 '18:10',
 '18:41',
 '38:32',
 '12:13',
 '27:11',
 '21:22',
 '21:24',
 '13:59',
 '23:46',
 '41:09',
 '9:21',
 '12:59',
 '17:33',
 '15:11',
 '17:38',
 '21:45',
 '51:44',
 '10:14',
 '11:14',
 '14:29',
 '16:38',
 '23:31',
 '18:59',
 '50:12',
 '9:07',
 '13:30',
 '15:24',
 '15:15',
 '22:49',
 '15:56',
 '36:36',
 '18:10',
 '13:08',
 '12:58',
 '12:45',
 '16:42',
 '16:41',
 '33:43',
 '12:11',
 '12:27',
 '12:11',
 '16:57',
 '13:55',
 '30:13',
 '43:21',
 '15:32',
 '27:47',
 '18:49',
 '19:28',
 '19:55',
 '30:33',
 '45:55',
 '9:42',
 '16:30',
 '17:48',
 '21:30',
 '34:31',
 '24:50',
 '48:04',
 '7:55',
 '17:36',
 '8:11',
 '26:32',
 '18:35',
 '25:33',
 '41:55',
 '12:15',
 '19:09',
 '24:37',
 '21:03',
 '25:26',
 '21:01',
 '14:13',
 '14:35',
 '18:17',
 '28:20',
 '23:06',
 '35:32',
 '31:54',
 '36:32',
 '10:23',
 '15:01',
 '16:31',
 '18:39',
 '22:56',
 '27:33',
 '44:11',
 '9:39',
 '8:47',
 '18:12',
 '16:52',
 '17:34',
 '27:11',
 '26:17',
 '7:47',
 '12:29',
 '14:09',
 '15:45',
 '18:04',
 '17:52',
 '35:22',
 '11:54',
 '28:20',
 '12:41',
 '15:27',
 '18:31',
 '17:39',
 '31:44',
 '18:20',
 '16:16',
 '15:55',
 '17:42',
 '19:25',
 '19:01',
 '36:07',
 '8:25',
 '17:18',
 '17:48',
 '22:20',
 '19:53',
 '20:53',
 '43:50',
 '9:38',
 '10:39',
 '15:20',
 '21:55',
 '22:27',
 '23:23',
 '43:16',
 '8:37',
 '11:26',
 '19:05',
 '22:55',
 '14:56',
 '25:41',
 '43:34',
 '12:43',
 '16:02',
 '18:46',
 '21:34',
 '27:20',
 '22:46',
 '32:58',
 '7:27',
 '9:47',
 '14:34',
 '19:51',
 '18:52',
 '30:56',
 '41:22',
 '11:25',
 '18:21',
 '11:53',
 '47:30',
 '23:50',
 '20:02',
 '59:03',
 '7:03',
 '11:28',
 '23:03',
 '22:09',
 '16:24',
 '20:40',
 '47:34',
 '10:22',
 '20:06',
 '19:39',
 '20:47',
 '16:19',
 '31:28',
 '1:01:37',
 '8:44',
 '16:31',
 '14:40',
 '17:53',
 '16:58',
 '25:43',
 '40:32',
 '7:14',
 '12:43',
 '11:13',
 '14:00',
 '15:44',
 '19:48',
 '32:02',
 '11:12',
 '8:05',
 '17:21',
 '17:57',
 '27:05',
 '16:05',
 '56:22',
 '8:28',
 '17:15',
 '16:05',
 '16:56',
 '24:28',
 '26:22',
 '37:21',
 '14:04',
 '15:41',
 '18:13',
 '19:56',
 '23:28',
 '14:11',
 '23:42',
 '7:50',
 '10:38',
 '10:28',
 '18:05',
 '12:43',
 '12:50',
 '48:11',
 '10:56',
 '12:26',
 '15:32',
 '19:12',
 '14:07',
 '18:10',
 '32:24',
 '6:19',
 '11:02',
 '12:08',
 '19:42',
 '13:01',
 '42:03',
 '57:36',
 '6:39',
 '9:10',
 '14:05',
 '15:55',
 '11:41',
 '25:42',
 '27:05',
 '11:00',
 '27:30',
 '17:13',
 '18:21',
 '21:31',
 '26:56',
 '35:05',
 '7:37',
 '10:00',
 '19:58',
 '20:16',
 '15:16',
 '21:41',
 '31:59',
 '9:13',
 '7:30',
 '10:35',
 '16:19',
 '11:23',
 '21:12',
 '23:26',
 '10:13',
 '11:45',
 '18:11',
 '16:41',
 '19:15',
 '12:54',
 '27:13',
 '6:34',
 '11:07',
 '17:19',
 '13:29',
 '17:26',
 '13:30',
 '34:07',
 '5:40',
 '10:04',
 '13:13',
 '11:29',
 '7:42',
 '18:09',
 '39:54',
 '8:17',
 '11:27',
 '10:41',
 '10:52',
 '14:22',
 '20:24',
 '31:49',
 '8:30',
 '7:08',
 '31:40',
 '29:46',
 '16:57',
 '19:29',
 '29:05',
 '5:40',
 '9:39',
 '16:45',
 '15:10',
 '10:35',
 '20:12',
 '27:50',
 '7:12',
 '9:11',
 '23:48',
 '13:40',
 '18:35',
 '19:36',
 '41:07',
 '6:30',
 '11:17',
 '15:46',
 '11:35',
 '14:01',
 '12:52',
 '32:26',
 '5:40',
 '10:28',
 '15:42',
 '11:29',
 '20:36',
 '10:22',
 '23:47',
 '12:17',
 '14:07',
 '10:36',
 '11:10',
 '12:53',
 '13:49',
 '32:25',
 '9:03']

In [116]:
formatted_times = []

for i in solve_times:
    if len(i) == 4:
        formatted_times.append('00:0' + i)
    elif len(i) == 5:
        formatted_times.append('00:' + i)
    elif len(i) == 7:
        formatted_times.append('0' + i)
    else:
        formatted_times.append(i)

#for x in formatted_times:
   # times_formatted.append(time.strptime(x[, format='%H:%M:%S'])

In [119]:
time_in_seconds = []

for i in formatted_times:
    date_time = datetime.datetime.strptime(i, "%H:%M:%S")
    a_timedelta = date_time - datetime.datetime(1900, 1, 1)
    seconds = a_timedelta.total_seconds()
    time_in_seconds.append(seconds)

In [120]:
df['solve_time'] = time_in_seconds

In [121]:
df

,Unnamed: 0,Unnamed: 0.1,solve_time,author,clues,day
0,0,2017-01-01,2033.0,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,1,2017-01-02,530.0,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2,2017-01-03,630.0,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,3,2017-01-04,1217.0,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,4,2017-01-05,1091.0,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...,...
725,725,2018-12-27,670.0,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,726,2018-12-28,773.0,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,727,2018-12-29,829.0,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,728,2018-12-30,1945.0,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,729,2018-12-31,543.0,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [122]:
df = df.drop(columns=['Unnamed: 0'], axis = 1)

In [124]:
df = df.rename(columns={'Unnamed: 0.1': 'date'})

In [126]:
df = df.rename(columns={'solve_time':'solve time (seconds)'})

In [127]:
df

,date,solve time (seconds),author,clues,day
0,2017-01-01,2033.0,MATTHEW SEWELL,"['Sponged', 'Asylum', 'Takes from page to scre...",Sunday
1,2017-01-02,530.0,CHUCK DEODENE,"[""Leatherworker's tool"", 'Wrath', 'Sauce often...",Monday
2,2017-01-03,630.0,MICHAEL SHTEYMAN,"['Misgiving', 'Small quarrel', 'Leader from th...",Tuesday
3,2017-01-04,1217.0,SAMUEL A. DONALDSON,"['Bee ball?', 'Somewhat', ""Historian's focus"",...",Wednesday
4,2017-01-05,1091.0,ED SESSA,"['Half of a Wall Street firm since 1882', 'One...",Thursday
...,...,...,...,...,...
725,2018-12-27,670.0,JEFF CHEN and MARY LOU GUIZZO,"['___ billiards, game on a pocketless table', ...",Thursday
726,2018-12-28,773.0,DAVID STEINBERG,"['Dominant figure', 'High-end Italian sports c...",Friday
727,2018-12-29,829.0,ROBYN WEINTRAUB,"['First digit', 'Beam at?', '4.93 milliliters:...",Saturday
728,2018-12-30,1945.0,LUKE VAUGHN,"['Fixture on a ski lodge deck', 'Sound quality...",Sunday
729,2018-12-31,543.0,BRIAN THOMAS,"['Exchange after a lecture, informally', 'Room...",Monday

In [128]:
df.to_csv('puzzledata.csv')

In [ ]:
df = pd.read_csv('puzzledata.csv')

In [ ]:
df = df.drop(columns = 'Unnamed: 0')

In [ ]:
grouped = df.groupby('day')

In [ ]:
times_by_day = grouped.aggregate(np.mean)

In [ ]:
times_by_day

In [ ]:
sorted_days = times_by_day.sort_values('solve time (seconds)')
sorted_days

In [ ]:
sorted_days.plot.bar()